body {
    background-color: #771212;  
    padding: 10px;   
}



.clickspot{
	text-decoration:underline;
	color:blue;
	cursor:pointer
}
.status{
	background-color:Yellow
}
.error{
	color:Red;
	background-color:Yellow
}

/*.menuitem {
	text-decoration:underline;
	color:blue;
	cursor:hand
}*/
.menuitem:hover{
	text-decoration:underline;
	cursor:hand;
	font-weight:bold;
	background-color:Silver
}

#pageheader
{
    height: 1in;
    background-color: #AD3333;
    font-size: large;
    border: 5px solid black;
    padding: 20px;
}
#ashesi{
    left:300px;
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    text-align:center;
}
#ashesiDiv{
    
}
#mainContainer{
   margin: auto;
   position: absolute;
   top: 0px; bottom: 0px; left: 0px; right: 0px;
   width: 90%;
   height: 95%; 
   background-color: #1b1a18 ;
   border-radius: 10px;
   display: block;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
   -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
}

#topHeader{
   margin-top: 0;
   position: absolute;
   top: 0px; bottom: 0px; left: 0px; right: 0px;
   width: 1500px;
   height: 100px ; 
   background-color: white ; 
   border-radius: 0px;
   //border-radius: 10px;
}

#sideBar{
/*   margin: auto;
   position: relative;*/
   //left: 70px;
   top: 0px; bottom: 0px; left: -600px; right: 0px;
   width: 200px;
   height: 1000px ; 
   background-color: #797875 ; 
   border-radius: 0px; 
}

#topBar{
   /**margin: auto;**/
   position: absolute;
   left: 200px;
   top: 100px; 
   width: 1500px;
   height: 50px ; 
   background-color: grey ; 
   border-radius: 0px; 
}

#statusBar{
   position: absolute;
   left: 200px;
   top: 150px; 
   width: 1030px;
   height: 15px ; 
   background-color: #866e19 ; 
   border-radius: 0px;
}

#infoBar{
   /*top: 0px; bottom: 0px; left: 0px; right: 150px;*/
   /**margin: auto;**/
   position: absolute;
   left: 200px;
   top: 165px;
   padding: 25px;
   width: 1030px;
   height: 480px ; 
   background-color: #E4DAD9; 
   border-radius: 0px;  
}



#pageheader .img_position{
    text-align: left;
}
#header_text{
    text-align: center;
}

#mainnav{
    position:absolute;
	width:2in;
	top:100px;
}


#content {
	width:12in;
	vertical-align:top
	
}

.reportTable 
{
    border:1px;
    border-collapse:collapse;
}

.reportTable .header
{
    background-color: #CC6600;
    text-transform: uppercase;
    color: White;
}

.reportTable .row1
{
    background-color: #FFE0B3;
}

.reportTable .row2
{
    background-color:White;
}

.reportTable tr:hover
{
    background-color:#C67070;
}

.tableForm .label
{
    background-color: #CC6600;
    text-transform:capitalize;
    color: White;
    text-align:right;
}

.tableForm .field
{
    background-color: #FFAE35;
}
.popupMenu
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}

.popupMenu div
{
    color: #FFFFFF;
    text-decoration: underline;
}

.popupMenu div:hover
{
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #CC6600;
}

.popupForm
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}
#container{
    position: relative;
    min-height:100%;
    height: 100%; 
    width: 100%;
    //padding: 
    margin: 0 auto;
}



#my_search{
   /*position: fixed;
    top: 100px;
    right: 130px;
    color: red;*/
    /*position:absolute; 
    left:-500px;*/
}
